/*
	reset
	variables
	general styling
	page structure
	texts
	inputs
	menu
	menu forms
	menu texts
*/


/* reset
============================================================================ */
a, abbr, address, article, aside, audio, b, button, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video { margin: 0; padding: 0; border: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  font-size: 100%; font-weight: inherit; font-style: inherit; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, video { display: block; }
audio, canvas { display: inline-block; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; }
ul, ol { list-style: none; }
a, ins, del { text-decoration: none; }
a:active, a:hover { outline: 0; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
img { border: 0; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
	button, input, textarea { background: none; }
	button, input { line-height: normal; }
	button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
	button[disabled], input[disabled] { cursor: default; }
	input[type="search"] { -webkit-appearance: textfield; }
	input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }a
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
q:after, q:before { content: ''; }



/* variables
============================================================================ */
:root {
	--color-background: #f6bb50;
	--color-pure: #e7e7df;
	--color-pureSeparator: #cfcfc8;
	--color-separator: #dda848;
	--color-text: #000;
	--color-placeholder: #f6bb50;
	--color-input: #dda848;
	--color-focus: #000;
	--color-link: #b58020;
	--color-hover: #503b15;
	--color-active: var(--color-text);
	--color-hoverMenu: #56564c;

	/* the spacing between elements */
	--size-spacing: 1.5rem;
	/* the top and bottom spacing fot the whole app */
	--size-padding: 1.5rem;
	--size-padding-bottom: 1.5rem;
	/* sidebar width */
	--size-sidebar: 77px;
	/* the max width of text content */
	--size-contentMax: 800px;

	--icon-arrowRight: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 36"%3E%3Cpath d="M61.75 17.31l-16-17a1 1 0 00-1.42 0 1.06 1.06 0 000 1.43L58.69 17H1a1 1 0 000 2h57.69L44.28 34.31a1 1 0 000 1.42 1 1 0 001.42 0l16-17a1.08 1.08 0 000-1.38z"/%3E%3C/svg%3E');

	/* z-indexes */
	--z-menu: 20;
	--z-overlay: 60;
	--z-app: 30;

	/* fonts */
	--font-condensed: urw-din-condensed, 'helvetica', 'arial', sans-serif;
}

@media (max-height: 600px) {
	:root {
		--size-padding-bottom: 1.5rem;
	}
}

@media (display-mode: standalone) {
	:root {
		--size-padding-bottom: 3rem;
	}
}

.app-appleFullscreen {
	--size-padding-bottom: 3rem;
}



/* general styling
============================================================================ */
html, body {
	height: 100%;
	overflow: hidden;

	background-color: var(--color-background);

	font-family: 'neue-haas-grotesk-display', 'helvetica', 'arial', sans-serif;
}

/* this is needed to set the proper colors for iOS PWA that takes the
status bar color from the body background color */
body:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: var(--color-pure);

	content: '';
}

.app-popupShown {
	background-color: var(--color-pure);

	transition: background-color .1s linear .5s;
}


@media (max-height: 550px) {
	html {
		font-size: .8em;
	}
}



/* page structure
============================================================================ */
.app {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	display: flex;
	position: relative;
	z-index: 50;
	
	background-color: var(--color-background);

	transition-property: transform, border-radius, box-shadow;
	transition-duration: .4s, .2s, .2s;
	transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

.app-menuShown {
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
	transition-delay: 0s;
}

.app-unfocused .main,
.app-unfocused .sidebar {
	filter: blur(4px);
}

.main {
	max-width: 440px;
	padding-top: var(--size-padding);
	padding-bottom: var(--size-padding-bottom);
	padding-left: var(--size-spacing);
	padding-right: var(--size-spacing);
	overflow: hidden;
	position: absolute;
	left: var(--size-sidebar);
	right: 0;
	top: 0;
	bottom: 0;
	z-index: var(-z-app);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: filter .5s linear;
}



/* texts
============================================================================ */
.text-title {
	line-height: 1.14em;
	font-size: 2.63rem;
	font-weight: 600;
}

.text-subtitle {
	margin-top: 1rem;

	line-height: 1.17em;
	font-size: 1.5rem;
	font-weight: 600;
}

.text-note {
	margin-top: 1rem;

	line-height: 1.44em;
	font-size: 1rem;
}

.action-secondary {
	text-align: left;
	text-transform: uppercase;
	line-height: 1.05em;
	font-size: 2.75rem;
	font-weight: 600;
}

@media (max-height: 600px) {
	.text-title {
		font-size: 2rem;
	}

	.text-subtitle {
		font-size: 1.25rem;
	}

	.action-secondary {
		font-size: 2rem;
	}
}



/* inputs
============================================================================ */
input {
	transition-property: color, border;
	transition-duration: .1s;
	transition-timing-function: linear;
}

input[type="number"] {
	width: 30%;

	border-radius: 5px;
	background-color: var(--color-input);

	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

input[type="number"]::placeholder {
	color: var(--color-placeholder);
}

input:focus {
	outline: none;
	color: var(--color-focus);
}



/* content
============================================================================ */
.content {
	text-transform: uppercase;
	font-size: 1.81rem;
}

.content-readable {
	text-transform: none;
}

.content-info-value {
	margin-bottom: 1.5rem;
}

button {
	transition: color .1s linear;
}

.app button:hover {
	color: var(--color-hover);
}

.app button:focus {
	outline: none;
	color: var(--color-hover);
}

.app button:active {
	outline: none;
	color: var(--color-active);
}



/* menu
============================================================================ */
.menu button {
	line-height: 1em;
	letter-spacing: -1px;
	text-align: left;
	text-transform: uppercase;
	font-family: var(--font-condensed);
	font-size: 2rem;
	font-weight: 700;
}

.menu-question {
	text-align: center;
}

.menu button:hover {
	color: var(--color-hoverMenu);
}

.menu button:focus {
	outline: none;
	color: var(--color-hoverMenu);
}

.menu button:active {
	outline: none;
	color: var(--color-active);
}



/* menu forms
============================================================================ */
.form-row + .form-row {
	margin-top: 1rem;
}

.form-label {
	font-family: var(--font-condensed);
	font-size: 1.6rem;
}

.menu-form select {
	width: 100%;
	padding: .5em;

	border-bottom: 4px solid var(--color-text);
	background-color: transparent;
}

@media (min-width: 800px){
	.menu-form div {
		width: 100%;
		display: table;
	}

	.form-row {
		display: table-row;
	}

	.menu-form select {
		width: auto;
		min-width: 200px;
		margin-left: 2em;
	}

	.form-label {
		width: 50%;
		display: table-cell;
		text-align: right;
	}
}



/* menu texts
============================================================================ */
.menu-article h2 {
	margin-bottom: .3em;

	line-height: 1em;
	font-family: var(--font-condensed);
	font-size: 2em;
	font-weight: 600;
}

.menu-article p + h2,
.menu-article ul + h2,
.menu-article .video + h2 {
	margin-top: 1em;
}

.menu-article p + p,
.menu-article li + li,
.menu-article ul + p {
	margin-top: .5em;
}

.menu-article p,
.menu-article li {
	line-height: 1.4em;
}

.menu-article ul {
	margin-left: 1.1em;
}

.menu-article li:before {
	margin-left: -1.15em;
	content: '— ';
}

.menu-article a {
	text-decoration: underline;
	color: var(--color-link);
}

.menu-article strong {
	font-weight: bold;
}

.menu-article .video {
	max-width: 100%;
	height: 0;
	margin: 1em 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
}

.menu-article .video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-article .question {
	text-align: center;
}