name: ci
	on: [push, deployment, deployment_status]
	jobs:
		show-event:
		runs-on: ubuntu-latest
		steps:
			- name: Dump GitHub context
				env:
					GITHUB_CONTEXT: ${{ toJson(github) }}
				run: echo "$GITHUB_CONTEXT"